<%- include('../includes/topHeader.ejs') %>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>
            <div class="mediumWidth_top">

                <h6 class="welcomingUser">
                    This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
                </h6>
                <h6 class="welcomingUser">
                    This is an unofficial website where you can add all your complaints in terms of salary in companies where you worked
                </h6>
            </div>
            <main class="grid mediumWidth">
                <% if (postList.length > 0) { %>
                    <% for (let post of postList) { %>
                        <article>
                            <img src="https://imagevars.gulfnews.com/2021/03/07/STOCK-salary-wallet-money_1780d88f55d_large.jpg" alt="Sample photo">
                            <div class="text">
                                <h3 class="text-danger">
                                    <%= post.companyName %>
                                </h3>
                                <p>
                                    <h6>
                                        <%= post.companyOwner %>
                                    </h6> current representitive of
                                    <%= post.companyName %> received complaints by
                                        <%= post.userId.name %>.</p>
                                <a href="/post/<%= post._id %>" class="btn btn-danger btn-block">Here's why</a>
                            </div>
                        </article>
                        <% } %>
                            <% } else { %>
                                <h1>No Posts Found!</h1>
                                <% } %>
            </main>

            <%- include('../includes/footer.ejs') %>